* {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; /* Espacio interno del contenedor */
    height: 150vh;
}

/* Estilos para las columnas */
.column {
    padding: 20px;
    border: 1px solid #ccc;
}

.column1 {
    /* Estilos específicos para la columna 1 */
    background-color: #DF928E;
    margin-top: 5%;
}

.column2 {
    /* Estilos específicos para la columna 2 */
    display: block;
    margin: auto;
    margin-top: 5%;
}

.column3{
    background-color: #EAD2AC;
    margin-top: 5%;
}

.column4{
    margin-top: 2%;
    grid-area: 2 / 1 / 5 / 2;
    /*Colores*/
    background-color: #FFE9F9;
}

.column5{
    margin-top: 2%;
    grid-area: 2 / 2 / 5 / 3;
    background-color: #FFE9F9;
}

.column6{
    margin-top: 2%;
    grid-area: 2 / 3 / 5 / 4;
    background-color: #FFE9F9;
}

#deskri {
    background-color: white;

}


.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    position: relative;
}


div.progress-fill{
    height: 100%;
    background-color: #0074d9; 
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    
}

p {
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
    max-height: 100%;
}

