h1{

    background-color: red;
    color: white;
    text-align: center;
    padding: 50px;
    border-radius: 25px;

}

body{

    background-color: violet;

}

li{

    

}

strong{

    color: blue;

}

article{

    background-color: white;
    margin: 40px;
    
    
}

ul{

    background-color: aqua;
    margin-right: 1700px;

}



h1{

    font-size: 70px;

}